# Credit Card Approval Prediction Model in Python

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
import os
from google_drive_downloader import GoogleDriveDownloader as gdd
# warnings.filterwarnings("ignore")

## 1. Data Understanding

Downloading 185SYKXTNJlc2Mkd77kt-qNr81bsIx_1t into ../data/CC_data.csv... Done.
Unzipping...

In [26]:
# Download data from Drive if not exist
if not os.path.exists('../data/CC_data.csv'):
    gdd.download_file_from_google_drive(file_id='185SYKXTNJlc2Mkd77kt-qNr81bsIx_1t',
                                    dest_path='../data/CC_data.csv',
                                    unzip=False)
# Read the data file
CC_data = pd.read_csv("../data/CC_data.csv")
# Replace "?" with NaN
CC_data.replace('?', np.NaN, inplace = True)
# Convert Age to numeric
CC_data["Age"] = pd.to_numeric(CC_data["Age"])
# CC_data2 = CC_data[:,:]
CC_data2 = CC_data.copy()
# View some basic statistical details of a data frame.
CC_data.describe()

              Age        Debt  YearsEmployed  CreditScore         Income
count  678.000000  690.000000     690.000000    690.00000     690.000000
mean    31.568171    4.758725       2.223406      2.40000    1017.385507
std     11.957862    4.978163       3.346513      4.86294    5210.102598
min     13.750000    0.000000       0.000000      0.00000       0.000000
25%     22.602500    1.000000       0.165000      0.00000       0.000000
50%     28.460000    2.750000       1.000000      0.00000       5.000000
75%     38.230000    7.207500       2.625000      3.00000     395.500000
max     80.250000   28.000000      28.500000     67.00000  100000.000000